{% extends 'base.html' %}
{% block title %}
    {{ problem.title }}
{% endblock %}
{% block head_scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/problem.js' %}"></script>
{% endblock %}
{% block content %}
    <body>
    <h4>Тема: <a href="{% url 'topic' semester.pk problem.main_topic.pk %}">{{ problem.main_topic.title }}</a></h4>
    <div id="problem" data-problem="{{ problem.id }}">
        <h3>{{ problem.title }}</h3>
        <p>{{ problem.description }}</p>
        <form id="answer_form" action="">
            {% csrf_token %}
            <div id="answer" data-answer="{{ answer }}"></div>
            <button id="submit_button" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}