{% extends 'base.html' %}
{% block title %}
    {{ problem.title }}
{% endblock %}
{% block head_scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/problem.js' %}"></script>
{% endblock %}
{% block content %}
    <body>
    <h4>Тема: <a href="{% url 'topic' semester.pk problem.main_topic.pk %}">{{ problem.main_topic.title }}</a></h4>
    <div id="problem" data-problem="{{ problem.id }}" data-semester="{{ semester.pk }}">
        <h3>{{ problem.title }} ({{ problem.get_difficulty_display }})</h3>
        <p id="description">{{ problem.description }}</p>
        {% if problem.sub_topics.exists %}
            <p>Подтемы:
                {% for sub_topic in problem.sub_topics.all %}
                    {{ sub_topic }}
                {% endfor %}
            </p>
        {% endif %}
        {% if test_example %}
            <p>Пример (stdin → stdout)</p>
            <pre>{{ test_example.input }} → {{ test_example.output }}</pre>
        {% endif %}
        {% if is_answered %}
            Вы уже решали это задание.
        {% else %}
            <form id="answer_form" action="">
                {% csrf_token %}
                <div id="answer" data-answer="{{ answer }}"
                        {% if is_teacher %}
                            data-correct="{{ correct_answers }}
                    {% endif %}">
                </div>
                {% if is_practice_problem %}
                    <label for="stdin">Ввод (stdin, через запятую)
                        <input id="stdin">
                    </label>
                    <button id="run_stdin_button" type="button">Запустить</button>
                {% endif %}
                {% if not is_answered and not is_topic_completed and not is_teacher %}
                    <button id="submit_button" type="submit">Отправить</button>
                {% endif %}
            </form>
        {% endif %}
        <div id="result"></div>
        <div id="stopwatch" hidden>0</div>
    </div>
    <div>
        {% if type == 'theory' %}
            <form action="{% url 'next_theory_problem' semester.pk problem.main_topic.pk %}">
                <input type="submit" value="Следующее задание"/>
            </form>
        {% elif type == 'practice' %}
            <form action="{% url 'next_practice_problem' semester.pk %}">
                <input type="submit" value="Следующее задание"/>
            </form>
        {% endif %}
    </div>
{% endblock %}