{% extends 'base.html' %}
{% block title %}
    {{ semester.course.title }}
{% endblock %}
{% block head_scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/semester.js' %}"></script>
{% endblock %}
{% block content %}
    <div>
        <h3>{{ semester.course.title }}</h3>
        <span style="margin-right: 20px">{{ semester.course.duration }} ч</span>
        <span title="{{ semester.started_at|date:"d.m.Y G:i:s" }}">{{ semester.started_at|date:"j b" }}</span> –
        <span title="{{ semester.ended_at|date:"d.m.Y G:i:s" }}">{{ semester.ended_at|date:"j b Y" }}</span>
        <p><b>Описание</b><br>{{ semester.course.description }}</p>
        {% if is_teacher %}
            <div id="code">
                {% if is_code_expired %}
                    Срок действия кода истек.
                {% elif code == '' %}
                    Код для присоединения отсутствует.
                {% else %}
                    Код для присоединения: {{ code.code }}
                {% endif %}
            </div>
            <form action="{% url 'generate_semester_code' semester.pk %}" method="POST" id="generate_code_form">
                {% csrf_token %}
                <button type="submit">Создать новый код</button>
                <label for="expiration_date">Дата истечения</label>
                <input type="datetime-local" id="expiration_date" value="{{ default_expiration_time }}"
                       min="{{ min_expiration_time }}" max="{{ max_expiration_time }}">
            </form>
        {% else %}
            {% if user.is_authenticated %}
                {% if is_student %}
                    Вы записаны на курс
                    <br>
                    <form action="" id="target_points_form">
                        {% csrf_token %}
                        <label for="target_points">Выберите желаемую оценку:</label>
                        <select id="target_points">
                            {% for points, mark in target_points_options %}
                                <option value="{{ points }}"
                                        {% if user.usertargetpoints.target_points == points %}selected{% endif %}>
                                    {{ mark }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Изменить</button>
                    </form>
                {% else %}
                    <form action="{% url 'enroll' semester.id %}" method="POST" id="join_code_form">
                        {% csrf_token %}
                        <label for="join_code">Код для присоединения:</label>
                        <input id="join_code" style="text-transform: uppercase" type="text" maxlength="5">
                        <span id="error"></span>
                        <button type="submit">Записаться</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if user in semester.students.all %}
            <form action="{% url 'next_practice_problem' semester.pk %}">
                <input type="submit" value="Следующее практическое задание"/>
            </form>
        {% endif %}
        <p>Модули</p>
        <ol>
            {% for module in modules %}
                <li>
                    <div>
                        <span title="Обязательный">{% if module.module.is_required %}*{% endif %}</span>
                        <span>{{ module.module.title }}</span>
                        <p><b>Описание</b><br>{{ module.module.description }}</p>
                        <span style="margin-right: 10px">{{ module.module.topic_set.count }} тем</span>
                        <span>{{ module.module.total_time }} ч</span>
                        <p><b>Темы</b></p>
                        <table>
                            {% for topic in module.topics %}
                                <tr>
                                    <td>{{ forloop.counter }}. <span
                                            title="Обязательный">{% if topic.topic.is_required %}
                                        *{% endif %}</span></td>
                                    <td style="padding-right: 20px"><a
                                            href="{% url 'topic' semester.pk topic.topic.pk %}">{{ topic.topic.title }}</a>
                                    </td>
                                    <td style="padding-right: 20px" title="Время на завершение">
                                        {{ topic.topic.time_to_complete }} ч
                                    </td>
                                    <td style="padding-right: 20px" title="Количество баллов по теории">
                                        {{ topic.progress.theory_points|floatformat:2 }}
                                    </td>
                                    <td style="padding-right: 20px" title="Количество баллов по практике">
                                        {{ topic.progress.practice_points|floatformat:2 }}
                                    </td>
                                <tr>
                                {% empty %}
                                <p>Нет тем</p>
                            {% endfor %}
                        </table>
                    </div>
                </li>
                {% empty %}
                <p>Нет модулей</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}