{% extends 'base.html' %}
{% block title %}
    {{ semester.course.title }}
{% endblock %}
{% block content %}
    <div>
        <h3>{{ semester.course.title }}</h3>
        <span style="margin-right: 20px">{{ semester.course.duration }} ч</span>
        <span title="{{ semester.started_at|date:"d.m.Y G:i:s" }}">{{ semester.started_at|date:"j b" }}</span> –
        <span title="{{ semester.ended_at|date:"d.m.Y G:i:s" }}">{{ semester.ended_at|date:"j b Y" }}</span>
        <p><b>Описание</b><br>{{ semester.course.description }}</p>
        {% if user.is_authenticated %}
            {% if semester in user.semester_student_set.all %}
                Вы записаны на курс
            {% else %}
                <form action="{% url 'enroll' semester.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Записаться</button>
                </form>
            {% endif %}
        {% endif %}
        <form action="{% url 'next_practice_problem' semester.pk %}">
            <input type="submit" value="Следующее практическое задание"/>
        </form>
        <p>Модули</p>
        <ol>
            {% for module in semester.course.module_set.all %}
                <li>
                    <div>
                        <span title="Обязательный">{% if module.is_required %}*{% endif %}</span>
                        <span>{{ module.title }}</span>
                        <p><b>Описание</b><br>{{ module.description }}</p>
                        <span style="margin-right: 10px">{{ module.topic_set.count }} тем</span>
                        <span style="margin-right: 10px">{{ module.problem_count }} практических заданий</span>
                        <span>{{ module.total_time }} ч</span>
                        <p><b>Темы</b></p>
                        <table>
                            {% for topic in module.topic_set.all %}
                                <tr>
                                    <td>{{ forloop.counter }}. <span title="Обязательный">{% if module.is_required %}
                                        *{% endif %}</span></td>
                                    <td style="padding-right: 20px"><a
                                            href="{% url 'topic' semester.pk topic.pk %}">{{ topic.title }}</a></td>
                                    <td style="padding-right: 20px" title="Время на завершение">
                                        {{ topic.time_to_complete }} ч
                                    </td>
                                    <td title="Количество заданий">{{ topic.problem_main_set.count }}</td>
                                <tr>
                                {% empty %}
                                <p>Нет тем</p>
                            {% endfor %}
                        </table>
                    </div>
                </li>
                {% empty %}
                <p>Нет модулей</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}