{% extends 'base.html' %}
{% block title %}
    {{ topic.title }}
{% endblock %}
{% block content %}
    <h3>
        <span title="Обязательный">{% if topic.is_required %}*{% endif %}</span>
        {{ topic.title }}
    </h3>
    <p>{{ topic.time_to_complete }} ч</p>
    <p><b>Теоретический материал</b></p>
    <ul>
        {% for attachment in topic.attachment_set.all %}
            <li>
                <a href="{{ attachment.url }}">{{ attachment.name }}</a>
            </li>
        {% empty %}
            <p>Нет вложений</p>
        {% endfor %}
    </ul>
    <p><b>Практические задания</b></p>
    <table>
        {% for problem in topic.problem_main_set.all %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{% url 'problem' semester.pk problem.pk %}">{{ problem.title }}</a></td>
                <td>{{ problem.difficulty }}</td>
            </tr>
        {% empty %}
            <p>Нет заданий</p>
        {% endfor %}
    </table>
{% endblock %}